.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
span.copyright {
  position: absolute;
  top: 5px;
  left: 5px;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.doughnut-chart-container {display: flex;}

.doughnut-chart-container {
  width: 25%;
}
.shooterAge {
  background-color: red;
  padding: 5px 3px;
  height: 30px;
  width: 30px;
  color: white;
  font-weight: bold;
}
.averageAge{
  margin-top: 2rem;
}
#closeModal {
  position: absolute;
  top: 5px;
  right: 5px;
}
.expand-chart {
  position: absolute;
  right: 15px;
  top: 15px;
  display: none;
}
.line-chart-container.expanded {
  width: 200%;
}
table {
  border: 1px solid grey;
}
table td {
  border-right: 1px solid grey;
}
table th {
  border-bottom: 1px solid grey;
  border-right: 1px solid grey;
  line-height: 1;
}

table td, th {
  padding: 3px 5px;
}
table tr:nth-child(even) { 
  background-color: #e6e6e6;

}
body[dark-mode] table tr:nth-child(even) { 
  background-color: rgba(255, 255, 255, 0.1);

}
body[dark-mode] table {
  border: 1px solid rgba(255, 255, 255, 0.05);
}
body[dark-mode] table td {
  border-right: 1px solid rgba(255, 255, 255, 0.05);
}
body[dark-mode] table th {
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  border-right: 1px solid rgba(255, 255, 255, 0.05);
}
body[dark-mode] .shooterAge {
  color: black !important;
}
body[dark-mode] p,
body[dark-mode] span {
  color: #c4c3c3 !important;
}
body[dark-mode] .ReactModal__Content {
  background-color: black !important;
  color: white;
}
body[dark-mode] .btn-close {
  filter: invert(1) grayscale(100%) brightness(200%);
}
body[dark-mode] .ReactModal__Overlay {
  background-color: rgba(255, 255, 255, 0.05) !important;
}
body[dark-mode] .expand-chart svg {fill: #c4c3c3;}
@media screen and (max-width: 767px) {
  .container-list {display: initial;    top: 1rem;
    position: relative;}
  .line-chart-container,
  .doughnut-chart-container {
    width: 100%;
  }
  .expand-chart {display: block;}
  .container-list {padding-top: 1rem;}
  span.copyright,
  label.switch {font-size: 10px;}
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
